<div class="flex items-center justify-center my-3 mt-4">
  <p class="text-white font-medium uppercase">Weekly Forecast</p>
</div>

<div class="flex items-center justify-center my-3">
  <div class="flex items-center justify-center mt-6">
    <div class="flex flex-row items-center justify-between text-white">
      <div class="flex flex-col items-center justify-center mb-8">
        <p class="font-light text-sm">Tuesday , 04.00am</p>
        <img
          src="http://openweathermap.org/img/wn/10d@2x.png"
          alt=""
          class="w-20 my-1"
        />
        <p class="font-medium">34 °</p>
      </div>
    </div>
  </div>
</div>
